html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background:#7dbae6;
  margin: auto;
  color:#fff;
}

header{
  display: flex;
  justify-content: flex-end;
}

h1{
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color:#FFF;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  color: black;
}

p {
  font-size: 1rem;
  color:#fff;
  text-align: justify; 
}

img {
  display: block;
  width: 100%;
}


main{
  background: #7dbae6;
  max-width: 750px;
  margin: auto;
}

#landing {
  display: flex;
  flex-direction: column-reverse;
  background: #7dbae6;
  width: auto;
}

#landing-text {
  display: flex;
  flex: 0 1 45vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
}

#landing-text h2 {
  color: black;
}

#landing-image {
  background: url(assets/landing\ image.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 0 1 45vw;
  margin: 0;
}

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  margin: 2rem 0.5rem;
  text-decoration: none;
  color:#f6f6f7;
  background: #7dbae6;
  font-weight: 600;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,1);
  transition: 0.3s;
}

.btn:hover {
  color: black;
}

.btn2 {
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color:#f6f6f7;
  background: #365990;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,1);
  transition: 0.3s;
}

.btn2:hover {
  background:#152744;
  color:rgb(158, 158, 158);
}


@media (min-width: 500px) {

h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
}

p{
  font-size: 1.5rem;
  color:#fff;
  padding: 0 1rem;
  text-align: justify;
}

header, footer{
  display: flex;
  justify-content:flex-end;
  background:#7dbae6;
  margin: auto;
  padding: 1rem 4rem;
  font-size: 2rem;
  text-transform: uppercase;
}

main{
  background: #7dbae6;
  margin: auto;
}

  #landing {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    background: #7dbae6;
  }

  #landing-text {
    display: flex;
    flex: 0 1 30vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #landing-image {
    background: url(assets/landing\ image.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    flex: 0 1 vw;
    margin: 0;
  }

  .btn {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    color:#fff;
    background: #7dbae6;
    font-size: 1.5rem;
    font-weight: 600;
  }
  

  .btn2 {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    background: #365990;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,1);
    transition: 0.3s;
  }
  
  .btn2:hover {
   background:#152744;
   color:rgb(158, 158, 158);

  }

}


@media (min-width: 800px) {
  h1{
    font-size: 4rem;
  }
  
  h2{
    font-size: 3rem;
  }
  
  p{
    font-size: 1.5rem;
    color:#f6f6f7;
    padding: 0 1rem;
    text-align: center;
  }
  
  header, footer{
    display: flex;
    justify-content:flex-end;
    background:#7dbae6;
    margin: auto;
    padding: 1rem 4rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  main{
    background: #7dbae6;
    margin: auto;
  }
  
    #landing {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      background: #7dbae6;
    }
  
    #landing-text {
      display: flex;
      flex: 0 1 30vw;
      height: 50vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #landing-image {
      background: url(assets/landing\ image.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 50vh;
      flex: 0 1 30vw;
      margin: 0;
    }

    .btn {
      padding: 1rem 2rem;
      display: inline-block;
      margin: 1rem 2rem;
      text-decoration: none;
      color:#fff;
      background: #7dbae6;
      font-size: 1.5rem;
      font-weight: 600;
    }
    
  
    .btn2 {
      padding: 1rem 2rem;
      display: inline-block;
      margin: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      color:#fff;
      background: #365990;
      font-size: 2rem;
      font-weight: 600;
      box-shadow: 0 5px 9px 0 rgba(0,0,0,1);
      transition: 0.3s;
    }
    
    .btn2:hover {
     background:#152744;
     color:rgb(158, 158, 158);
    }
  
  }
  

  @media (min-width: 1200px) {
    h1{
      font-size: 6rem;
    }
    
    h2{
      font-size: 4rem;
    }
    
    p{
      font-size: 2rem;
      color:#f6f6f7;
      padding:0;
      text-align: center;
    }
    
    header, footer{
      display: flex;
      justify-content:flex-end;
      background:#7dbae6;
      margin: auto;
      padding: 1rem 3rem; 
    }
    
    main{
      background: #7dbae6;
      margin: auto;
    }
    
      #landing {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        background: #7dbae6;
      }
    
      #landing-text {
        display: flex;
        flex: 0 1 10vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      #landing-image {
        background: url(assets/landing\ image.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100vh;
        flex: 0 1 20vw;
        margin: 0;
      }
      
      .btn {
        padding: 1rem 2rem;
        display: inline-block;
        margin: 1rem 2rem;
        text-decoration: none;
        color:#fff;
        background: #7dbae6;
        font-size: 1.5rem;
        font-weight: 600;
      }
      
    
      .btn2 {
        padding: 1rem 3rem;
        display: inline-block;
        margin: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color:#fff;
        background: #365990;
        font-size: 2rem;
        font-weight: 600;
        box-shadow: 0 5px 9px 0 rgba(0,0,0,1);
        transition: 0.3s;
      }
      
      .btn2:hover {
       background:#152744;
       color:rgb(158, 158, 158);
    
      }
    
    }
    

